.superb {
    background-color: black;
    color: white;
}

.mainfirst {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.facebooks {
    display: flex;
    gap: 20px;
}

.divlogo {
    padding-left: 80px;
}

.callbtn {
    background-color: black;
    border: 1px solid #e5bf4a;
    color: #e5bf4a;
    padding: 10px;
    width: 230px;
}

.mainhome {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.bghero1 {
    background-image: url(./h1_hero1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 100px;
}

.Healthy {
    font-size: 80px;
    margin-bottom: 0;
}

.divwid {
    width: 60%;
    padding: 20px;
    padding-left: 70px;
    background-color: black;

}

.personivs {
    display: flex;
    gap: 20px;
    color: #e5bf4a;
    justify-content: start;
    align-items: start;
}

.subper {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.blogsmain {
    margin-bottom: 30px;
}

.mainblogdivsa {
    display: flex;
    justify-content: start;
    gap: 80px;
    margin-top: 100px;
}

.subwid2nd {
    width: 30%;
    padding: 20px;
}

.mainbutton {
    background-color: #fbf9ff;
    padding: 30px;
    display: flex;
}

.Searchkey {
    border: none;
    background-color: white;
    padding: 15px;
    width: 200px;
}

.Search {
    color: white;
    padding: 15px;
    width: 100px;
    border: none;
    background-color: #e5bf4a;
}

.Category {
    background-color: #fbf9ff;
    color: black;
    margin-top: 25px;
    padding: 20px;
}

.recentposts {
    background-color: #fbf9ff;
    padding: 20px;
    margin-top: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tagc {
    background-color: #fbf9ff;
    color: black;
    padding: 25px;
    margin-top: 25px;
}

.project {
    color: #e5bf4a;
    background-color: white;
    padding: 5px;
    border: none;
    width: 80px;
    font-size: 13px;
}

.mainpro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instapic {
    background-color: #fbf9ff;
    color: black;
    padding: 25px;
    margin-top: 25px;
}

.insta1 {
    display: flex;
    gap: 10px;
}

.maininsta1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.Newsletter {
    background-color: #fbf9ff;
    color: black;
    padding: 25px;
    margin-top: 25px;
}

.mainbtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.mailbut {
    background-color: white;
    border: none;
    padding: 14px;
}

.SUBSCRIBE {
    background-color: white;
    border: 1px solid;
    color: #e5bf4a;
    padding: 14px;
    margin-bottom: 20px;
}

.mainhoomepage {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

.atagdiv {
    display: flex;
    gap: 30px;
}

.Consectetur {
    width: 40%;
}

.mainConsectetur {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: start;

}

.Consecteturabc {
    font-size: 15px;
}

.instabutton {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #3b3b3b;
    padding: 13px;
    align-items: center;
    gap: 20px;
    width: 180px;
}

.mainbtns {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.locations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.locationsvg {
    color: #e5bf4a;
    font-size: 23px;
}

.colorlib {
    color: #e5bf4a;
}

.heartc {
    color: #e5bf4a;
}

.lastcopy {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 100px;
}
.googleb{
    box-shadow: 10px 10px 30px white;
    padding: 20px;
    width: 750px;
   
}
@media screen and (max-width: 700px) {
    .mainfirst {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: o;
    }
}

@media screen and (max-width: 450px) {
    .mainhome {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

@media screen and (max-width: 500px) {
    .bghero1 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .Healthy {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .mainblogdivsa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    .personivs {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .singleb {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .subwid2nd {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {

    .mainbutton {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {

    .insta1 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .mainhoomepage {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .mainhoomepage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 340px) {
    .atagdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .mainConsectetur {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .mainbtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .lastcopy {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}